<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension="otf" mimeType="application/font-otf" />
        </staticContent>
        <handlers>
            <remove name="PHP71_via_FastCGI" />
            <add name="PHP71_via_FastCGI" path="*.php"
                   verb="GET, PUT, PATCH, HEAD, DELETE, LINK, OPTIONS, POST" 
                   modules="FastCgiModule" 
                   scriptProcessor="D:\Program Files (x86)\PHP\v7.1\php-cgi.exe"
                   resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="RewriteRequestsToPublic" stopProcessing="true">
                    <match url="(/css/|/js/|/img/|/fonts/|robots\.txt)" />
                    <action type="None" />
                </rule>
                <rule name="b" >
                    <match url="^(.*)$"  />
                    <action type="Rewrite" url="/public/index.php?params={R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>