body, input, button, input, optgroup, select, textarea {
    font-family: LibraSansModern, Sans-Serif;
}

.active.disable {
    pointer-events: none;
}

.table-hover-custom tbody tr:hover {
    background-color: rgba(0,150,150,.175) !important;
}

textarea.desc-textarea {
    width: 70% !important;
}

span.pointer-cursor{
    cursor: pointer;
}

.autoservice-navigation {
    width: 100%;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
}

.rounded-left-custom {
    border-top-left-radius: 0.25rem!important;
    border-bottom-left-radius: 0.25rem!important;
}
.rounded-right-custom {
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
}

#add-edit-popup-modal input {
    padding-left: 1rem;
}

.invalid-feedback {
    display: none;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
    position: absolute;
}

.error+.invalid-feedback {
    display: block;
}

.error {
    border-color: #dc3545!important;
}

#license_number, #vin_number, #engine_number {
    position: relative;
}

#license_number~.invalid-feedback {
    top: 3rem;
    left: 5rem;
}

#engine_number~.invalid-feedback {
    top: 10rem;
    left: 2rem;
}

#vin_number~.invalid-feedback {
    top: 10rem;
    left: 28rem;
}

form#add-part-for-card select#automobile_part_id {
    width: 14rem;
}

form#add-edit-automobile select#owner_id {
    width: 10rem;
}

form#add-edit-automobile select#color_id {
    width: 6rem;
}

form#add-edit-automobile select#model_id {
    width: 6rem;
}

form#add-edit-automobile select#brand {
    width: 8rem;
}

.add-new-button {
    color: #fff!important;
    background-color:#5cb85c!important;
    border-color: #5cb85c!important;
}

.add-new-button:hover {
    color: #fff!important;
    background-color: #449d44!important;
    border-color: #419641!important;
}