body, input, button, input, optgroup, select, textarea {
    font-family: LibraSansModern, Sans-Serif;
}

.active.disable {
    pointer-events: none;
}

.table-hover-custom tbody tr:hover {
    background-color: rgba(0,150,150,.175) !important;
}

.autoservice-navigation {
    width: 100%;
}

.invalid-feedback {
    display: none;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
    position: absolute;
}

.error+.invalid-feedback {
    display: block;
}

.error {
    border-color: #dc3545!important;
}

#license_number, #vin_number, #engine_number {
    position: relative;
}

#license_number~.invalid-feedback {
    top: 3rem;
    left: 5rem;
}

#engine_number~.invalid-feedback {
    top: 10rem;
    left: 2rem;
}

#vin_number~.invalid-feedback {
    top: 10rem;
    left: 28rem;
}

.dropdown-menu>li>a {
    display: block;
    padding: 0.1rem 0 0.1rem 1rem!important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.w-10rem{
    width: 10rem;
}

.first-letter-to-upper:first-letter {
    text-transform: uppercase;
}

.pagination-padding {
    padding: .75rem 1.5rem;
}